<% images = [] %>
<%session[:board_state].each do |position| %>
<%if position.is_a?Integer %>
  <%images.push("blank.jpg") %>
<%elsif position == "X" %>
  <%images.push("x.png") %>
<%elsif position == "O" %>
  <%images.push("o.png") %>
<%end %>
<%end %>

<!-- <script>
clicks = []
function disable_clicks() {
  clicksLength = clicks.length;
  for (i = 0; i < clicksLength; i++) {
  var element = document.getElementById(clicks[i]);
  console.log(element);
  element.onclick = null
  }
}

  disable_clicks();
</script> -->

<h1>It's Your Turn Dude!</h1>

<div class="grid-container">
  <div class="item1" id="grid_1" onclick="playerMove(1)"
    style="border-bottom: 5px solid white; border-right: 5px solid white;" >
    <img src="<%= images[0] %>" style="width:100px;height:100px;">
  </div>

  <div class="item2" onclick="playerMove(2)"
    style="border-bottom: 5px solid white;">
    <img src="<%= images[1] %>" style="width:100px;height:100px;">
  </div>

  <div class="item3" onclick="playerMove(3)"
    style="border-bottom: 5px solid white;border-left: 5px solid white;">
    <img src="<%= images[2] %>" style="width:100px;height:100px;">
  </div>

  <div class="item4" onclick="playerMove(4)"
    style="border-bottom: 5px solid white; border-right: 5px solid white;">
    <img src="<%= images[3] %>" style="width:100px;height:100px;">
  </div>

  <div class="item5" onclick="playerMove(5)"
    style="border-bottom: 5px solid white;">
    <img src="<%= images[4] %>" style="width:100px;height:100px;">
  </div>

  <div class="item6" onclick="playerMove(6)"
    style="border-bottom: 5px solid white;border-left: 5px solid white;">
    <img src="<%= images[5] %>" style="width:100px;height:100px;">
  </div>

  <div class="item7" onclick="playerMove(7)"
  style="border-right: 5px solid white;">
    <img src="<%= images[6] %>" style="width:100px;height:100px;">
  </div>

  <div class="item8" onclick="playerMove(8)">
    <img src="<%= images[7] %>" style="width:100px;height:100px;">
  </div>

  <div class="item9" onclick="playerMove(9)"
    style="border-left: 5px solid white;">
    <img src="<%= images[8] %>" style="width:100px;height:100px;">
  </div>

</div>



<script>

// function click_tracker(element_id) {
//   clicks.push(element_id);
// }


function playerMove(move) {

  window.location = "/move?move=" + move;
}
</script>
