
<h1><%= session[:message1] %></h1>

<h2>The score is:</h2><br>

<h2><%=session[:player1_name]%>: <%=session[:player1_score]%></h2>

<h2><%=session[:player2_name]%>: <%=session[:player2_score]%></h2><br>

<form class="" action="again" method="get">
  <input type="submit" name="" value="Play Again">
</form>
